<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> 
        table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
}

table th,
table td {
  padding: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

table th {
  background-color: #03C988;
  color: #fff;
  font-weight: bold;
  text-align: left;
}

    </style>
</head>
<body>
    <table>
        <tr>
            <th>TITLE</th>
            <th>AUTHOR</th>
            <th>BORROW DATE</th>
            <th>RETURN DATE</th>
            <th>Request</th>
        </tr>
        <tr>
            <th>juan tamad</th>
            <th>Justin</th>
            <th>sbng</th>
            <th>buas</th>
            <th>pending<br><a href="#"><button>accept</button></a><a><button>decline</button></a></th>
        </tr>
    </table>
</body>
</html>